		<article data-ng-repeat="movie in vm.movies" class="container row">
			<div class="large-2 column">
				<img src="img/p{{movie.cover}}">
			</div>

			<div class="large-7 column">
				<div class="row collapse">
					<div class="large-12 column">
						<h4>{{ movie.title }} ({{ movie.year }})</h4>
					</div>
				</div>
	
				<div class="row">
					<div class="large-12 column">
						<span class="label">{{ movie.resolution }}</span>
						<span class="label secondary">{{ movie.runtime }} min</span>
						<span class="label watched">Watched: June 23, 2014</span>
					</div>
				</div>
	
				<div class="row collapse">
					<div class="large-12 column overview">
					{{ movie.overview | truncate:200}}
					</div>
				</div>

				<div class="row">
					<div class="large-4 column">
						<div class="row collapse">
						    <div class="small-8 large-8 column">
						    	<input type="text" placeholder="TMDB Id">
						    </div>
						    <div class="small-4 large-4 column">
								<a href="#" class="button postfix" data-ng-click="vm.fixMovie(movie)">Fix</a>
          				    </div>
						</div>					
					</div>
					<div class="large-3 column">
						<input type="text" data-ng-model="movie.last_watched" dtpicker >					
					</div>
					<div class="large-5 column">
						<span class="label right score-numeral">{{movie.score}}</span>
						<div rating score="movie.score" max="10" style="margin-top: 5px;" class="right"></div>
					</div>
				</div>
			</div>

			<div class="large-3 column">
				<img src="img/b{{movie.backdrop}}">
				<small>{{ movie.location }}</small>
			</div>
		</article>
