/* OVERRIDE FOUNDATION */
body, html, h1, h2, h3, h4, h5, h6 {
	font-family: Lato, Helvetica;
}

.label, .button {
	font-family: Lato, Helvetica;
}
	.label.watched {
		background-color: #2c3e50;
	}

span.crimson {
	color: #C14242;		
	background-color: #EFF2F4;
	white-space: nowrap;
}

span.bright {
	color: #6D34A6;
	background-color: #EFF2F4;
	white-space: nowrap;	
}


.button {
	margin: 0;
}

.container {
	max-width: 960px;
	margin: 0 auto;
}

header {
	background: #E6EAEE;

/*	background: #E6EAEE;
*//*	background: #EFF2F4;
*//*	background: #34495e;
*//*	background: #ecf0f1;
*/}


/* CUSTOMIZE TOPBAR TO MY LIKING */
.top-bar {
    background: #E6EAEE;
}

.top-bar .name h1 a {
	color: #32BD44;
	font-family: Muli, 'Amaranth', Lato, Helvetica;
	font-size: 175%;
/*	text-transform: uppercase;
*/}

.top-bar-section li a:not(.button) {
    background: #E6EAEE !important;   
}

.top-bar-section li a:not(.button):hover {
    background: #EFF2F4 !important;   
}

.top-bar-section ul li.active > a {
    background: gray !important;   
}

.top-bar-section ul li.active > a:hover {
    background: yellow !important;   
}

.top-bar-section ul li > a {
	color: #2c3e50;
	font-family: Lato, Helvetica;
}

.top-bar-section .divider {
    border-right: solid 5px red;
	margin-left: 10px;    
}

.top-bar-section .has-form {
    background: #E6EAEE !important;   
}

.top-bar-section input {
	height: 30px;
}

.top-bar-section select {
	height: 30px;
	font-size: 75%;
	margin-top: 7px;
}

.top-bar-section i {
	margin: 15px 0 0 15px;
}


main {
	background: #EFF2F4;
	margin-top: 45px;
/*	padding: 10px 0;
*/}

main h4 {
/*	color: #C14242;
*/	color: #2c3e50;
	margin: 0 0 5px 0;
}

main .overview {
	padding: 5px 0 5px 0;
	color: #8D9DA9;
}

nav .menu {
	padding-top: 5px;
}

.top-pager {
	padding-top: 25px;
}

footer {
	color: white;
	background: #2c3e50;
	height: 150px;
}

.covers {
	padding-top: 15px;
/*	margin-top: 15px;
*/}

article {
	padding-bottom: 10px;
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px solid #E6EAEE;
}

.import-cover {
	padding-top: 25px;
}

.import-status {
	padding: 15px 0;
}

.rating {
	font-size: 75%;
}

.rating .rating-highlight, .rating.rating-highlight:hover {
  color: #F4914E;
}

.rating .rating-normal, .rating.rating-normal:hover {
  color: #3C3C3C;
}

.score-numeral {
	margin: 5px 5px 0 5px;
}

input.watched {
	margin-left: 10px;
}

.transparent {
	opacity: 0.6;
}

.movie-item {
    height: 12.2em;
    overflow: hidden;	
}

.overlay-container {
	height: 12.2em;
	overflow: hidden;
/*	padding: 0;
*/	position: relative;
}

.overlay-container .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0.4rem 1.6rem 0.4rem 1.6rem;
	font: 0/0 a;
}

.overlay-container .overlay:before {
	content: ' ';
	display: inline-block;
	height: 100%;
}

.overlay-container .overlay span {
	font: 24px/1 Lato, Helvetica, sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5px 15px 5px 15px;
	display: inline-block;
}

.cover-container {
/*	height: 6.2em;
*/	overflow: hidden;
/*	padding: 0;
*/	position: relative;
}

.cover-container .overlay {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.4rem 1.6rem 0.4rem 1.6rem;
	font: 0/0 a;
}

.cover-container .overlay:before {
	content: ' ';
	display: inline-block;
	height: 100%;
}

.cover-container .overlay span {
	font: 16px/1 Lato, Helvetica, sans-serif;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	padding: 5px 15px 5px 15px;
	display: inline-block;
}

.ribbon {
	background-color: rgba(170, 0, 0, 0.6);
/*  background-color: #a00;
*/  overflow: hidden;
  white-space: nowrap;
  /* top left corner */
  position: absolute;
  left: -40px;
  top: 20px;
  /* 45 deg ccw rotation */
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  /* shadow */
  -webkit-box-shadow: 0 0 10px #888;
     -moz-box-shadow: 0 0 10px #888;
          box-shadow: 0 0 10px #888;
}
.ribbon span {
  border: 1px solid #faa;
  color: #fff;
  display: block;
  font: bold 81.25% Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 1px 0;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  /* shadow */
  text-shadow: 0 0 5px #444;
}