body {
    color: #777;
    background: #ddd;
}

a {
    text-decoration: none;
    color: #1b98f8;
}


/*
Add transition to containers so they can push in and out.
*/
/*
#layout,
#menu,
.pure-menu-link {
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
*/

/*
This is the parent `<div>` that contains the menu and the content area.
*/
/*
#layout {
    padding-left: 150px;  left col width "#menu" 
    left: 0;
}
*/

/*
The content `<div>` is where all your content goes.
*/
.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 800px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }

.content-subhead {
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #888;
}


.pane {
    padding-top: 40px;
}

/* LAYOUT CSS */
#layout {
    padding-left:850px; /* "left col (nav + list)" width */
    position: relative;
}

#nav, #list {
    position: fixed;
    top: 39px;
    bottom: 0;
    overflow: auto;
}
#nav {
    margin-left:-850px; /* "left col (nav + list)" width */
    width:150px;
    background: rgb(37, 42, 58);
    text-align: center;
    padding: 2em 0;
}

#list {
    margin-left: -700px;
    width:700px;
    border-right: 1px solid #c3c3c3;
}

/* HELPER CLASSES */
.primary-button,
.secondary-button {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.primary-button {
    color: #fff;
    background: #1b98f8;
    margin: 1em 0;
}
.secondary-button {
    background: #fff;
    border: 1px solid #ddd;
    color: #666;
    padding: 0.5em 2em;
    font-size: 80%;
}



/* Vertical Navigation Styles */
#nav .pure-menu {
    background: transparent;
    border: none;
    text-align: left;
}
    #nav .pure-menu a:hover,
    #nav .pure-menu a:focus {
        background: rgb(55, 60, 90);
    }
    #nav .pure-menu a {
        color: #fff;
        margin-left: 0.5em;
    }
    #nav .pure-menu-heading {
        border-bottom: none;
        font-size:110%;
        color: rgb(7, 113, 151);
    }

    #nav .nav-menu-button {
        display: none;
    }

    .email-count {
        color: rgb(75, 113, 151);
    }

    .email-label-personal,
    .email-label-work,
    .email-label-travel {
        width: 15px;
        height: 15px;
        display: inline-block;
        margin-right: 0.5em;
        border-radius: 3px;
    }
    .email-label-personal {
        background: #ffc94c;
    }
    .email-label-work {
        background: #41ccb4;
    }
    .email-label-travel {
        background: #40c365;
    }




/* Email Item Styles */
.email-item {
    padding: 0.9em 1em;
    border-bottom: 1px solid #c3c3c3;
    border-left: 6px solid transparent;
}
    .email-avatar {
        border-radius: 3px;
        margin-right: 0.5em;
    }
    .email-name,
    .email-subject {
        margin: 0;
        padding-bottom: 5px;
    }
    .email-name {
        color: #585555;
    }
    .email-desc {
        font-size: 80%;
        margin: 0.4em 0;
    }

.email-item-selected {
    background: #eee;
}
.email-item-unread {
    border-left: 6px solid #02a3c6;
}

/* Email Content Styles */
.email-content-header, .email-content-body, .email-content-footer {
    padding: 0px 10px 0px 10px;
}
    .email-content-header {
        border-bottom: 1px solid #ddd;
    }

        .email-content-title {
            margin: 0.5em 0 0;
        }
        .email-content-subtitle {
            font-size: 1em;
            margin: 0;
            font-weight: normal;
        }
            .email-content-subtitle span {
                color: #999;
            }
    .email-content-controls {
        margin-top: 2em;
        text-align: right;
    }
        .email-content-controls .secondary-button {
            margin-bottom: 0.3em;
        }

.pure-button-year,
.pure-button-bluray,
.pure-button-blurip,
.pure-button-dvd,
.pure-button-xvid {
    color: white;
    font-size: 70%;
}

.pure-button-year {
    background: rgb(153, 155, 157);
}

.pure-button-bluray {
    background: rgb(64, 90, 141);
}

.pure-button-blurip {
    background: rgb(165, 78, 158);
}

.pure-button-dvd {
    background: rgb(132, 167, 76);
}

.pure-button-xvid {
    background: rgb(242, 111, 72);
}

.photo-box, .text-box {
    overflow: hidden;
    position: relative;
    height: 750px;
}

    .photo-box img {
        min-height: 750px;
        width: 100%;
        padding: 10px 10px 0px 10px;
    }

    .photo-box aside {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 1em 0.5em;
        color: white;
        width: 100%;
        font-size: 80%;
        text-align: right;
        background: -moz-linear-gradient(top,  rgba(16,27,30,0) 0%, rgba(12,2,2,1) 90%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(16,27,30,0)), color-stop(90%,rgba(12,2,2,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(16,27,30,0) 0%,rgba(12,2,2,1) 90%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00101b1e', endColorstr='#0c0202',GradientType=0 ); /* IE6-9 */

    }

    .photo-box aside span {
        color: #aaa;
    }

        .photo-box aside span a {
            color: #ccc;
            text-decoration: none;
        }

@media (max-width: 867px) {

    #list,
    #main {
        width: 100%;
    }
    #layout {
        padding-left: -150px;
    }
    #list {
        height: 33%;
        border-right: 0;
        border-bottom: 1px solid #ddd;
    }
    #main {
        position: fixed;
        top: 33%;
        right: 0;
        bottom: 0;
        left: 150px;
        overflow: auto;
        width: auto; /* so that it's not 100% */
    }
}

@media (max-width: 480px) {
    #layout, #nav, #list, #main {
        position: static;
        margin: 0;
        padding: 0;
    }
    #nav {
        width: 100%;
        height: 40px;
        position: relative;
    }
    #nav .nav-menu-button {
        display: block;
        top: 0.5em;
        right: 0.5em;
        position: absolute;
    }
    #nav.active {
        height: 80%;
    }
    .nav-inner {
        display: none;
    }
    #nav.active .nav-inner {
        display: block;
    }
    .email-avatar {
        width: 40px;
        height: 40px;
    }
}