		<section class="container">
			<div class="row" data-ng-if="vm.options.config.mediaFolders.lenght === 0">
				<div class="large-12 columns">
					<h4>This is your first time running the application. Please configure it as per your environment</h4>
				</div>
			</div>

			<div class="row">
				<form>
				<fieldset>
				<legend>Where are your movies stored ?</legend>
				<div class="row">
					<div class="large-12 columns">
						<div class="row collapse">
							<div class="small-1 columns">
								<span class="prefix">Folder</a>
							</div>
							<div class="small-10 columns">
								<input type="text" placeholder="Media Folder" data-ng-model="vm.folder">
							</div>
							<div class="small-1 columns">
								<a href="#" class="button postfix" data-ng-click="vm.addFolder()">Add</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
					<table>
					<thead>
						<th width="50">#</th>
						<th>Folder</th>
					</thead>
					<tbody>
						<tr data-ng-repeat="folder in vm.options.config.mediaFolders">
						<td><i class="fa fa-times"></i></td>
						<td>{{folder}}</td>
						</tr>
					</tbody>
					</table>
					</div>
				</div>
				</fieldset>
				</form>
			</div>

			<div class="row">
				<form>
				<fieldset>
				<legend>How are your movie files named ?</legend>
				<div class="row">
					<div class="large-12 columns">
						<div class="row collapse">
							<div class="small-1 columns">
								<span class="prefix">Criteria</a>
							</div>
							<div class="small-10 columns">
								<input type="text" placeholder="Regular Expression to scan content">
							</div>
							<div class="small-1 columns">
								<a href="#" class="button postfix">Add</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
					<table>
					<thead>
						<th width="30">#</th>
						<th>Regular Expression</th>
					</thead>
					<tbody>
						<tr data-ng-repeat="expr in vm.options.config.mediaRegexs" >
						<td><i class="fa fa-times"></i></td>
						<td data-ng-bind-html-unsafe="expr">{{expr}}</td>
						</tr>
					</tbody>
					</table>
					</div>
				</div>			
				</fieldset>
				</form>
			</div>
		</section>