		<section class="container">
			<div class="row" data-ng-if="vm.options.config.mediaFolders.length === 0">
				<div class="large-12 columns">
					<h6>There are no folders selected for importing. Please enter the media folders where you store your movies, to scan for movies.</h6>
				</div>
			</div>

			<div class="row" style="padding-top: 25px;">
				<div class="small-3 small-centered columns">
					<button data-ng-click="vm.importer()" data-ng-disabled="vm.options.config.mediaFolders.length === 0">IMPORT</button>
				</div>
			</div>

			<div class="row" data-ng-if="vm.running">
				<div class="large-12 column import-status">
					<i class="fa fa-refresh fa-spin" data-ng-if="!vm.context.completed"></i> &nbsp;
					<span>{{ vm.context.message }}</span>
				</div>
			</div>			

			<div class="row">
				<form>
				<fieldset>
				<legend>Where are your movies stored ?</legend>
				<div class="row">
					<div class="large-12 columns">
						<div class="row collapse">
							<div class="small-1 columns">
								<span class="prefix">Folder</a>
							</div>
							<div class="small-10 columns">
								<input type="text" placeholder="Media Folder" data-ng-model="vm.folder">
							</div>
							<div class="small-1 columns">
								<a href="#" class="button postfix" data-ng-click="vm.addFolder()">Add</a>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
					<table>
					<thead>
						<th width="50">#</th>
						<th>Folder</th>
					</thead>
					<tbody>
						<tr data-ng-repeat="folder in vm.options.config.mediaFolders">
						<td><i class="fa fa-times"></i></td>
						<td>{{folder}}</td>
						</tr>
					</tbody>
					</table>
					</div>
				</div>
				</fieldset>
				</form>
			</div>

			<div class="row">
				<form>
				<fieldset>
				
				<legend>Movie naming structure</legend>
				<div class="row">
					<div class="large-12 columns">
					<p>For your movie collection to be recognized, movies must adhere to the following alternative naming conventions (these examples assumed you entered "/Movies" as the media folder in the previous section) :
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
						<ul>
							<li>/Movies/Bluray/Avatar (2009)/BDMV/index.bdmv</li>
							<li>/Movies/Bluray/Avatar (2009)/Avatar.{iso|img|nrg|mkv|avi|xvid|ts|mpg|dvr-ms|mdf|wmv}</li>
							<li>/Movies/Bluray/Avatar (2009)/{VIDEO_TS|HV000i01}.IFO</li>
							<li>/Movies/Avatar (2009)/BDMV/index.bdmv</li>
							<li>/Movies/Avatar (2009)/Avatar.{iso|img|nrg|mkv|avi|xvid|ts|mpg|dvr-ms|mdf|wmv}</li>
							<li>/Movies/Avatar (2009)/{VIDEO_TS|HV000i01}.IFO</li>
							<li>/Movies/Avatar (2009).{iso|img|nrg|mkv|avi|xvid|ts|mpg|dvr-ms|mdf|wmv}</li>
						</ul>
					</div>
				</div>
				<div class="row">
					<div class="large-12 columns">
					<p>Note: The first three forms let you specify a resolution category to your movies, so you need to create these folders in your media directory.
						The naming is up to you and could be, for example: Bluray, Blurip, DVD, XVID and others.
					</div>
				</div>
				</fieldset>
				</form>
			</div>
		</section>